@{
    ViewData["Title"] = "Signup";
}

    <style>
        .fieldlabels {
            color: #000000 !important;
            text-align: left
        }

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: #000000;
            padding-left: 0px;
            margin-top: 30px
        }

            #progressbar li {
                list-style-type: none;
                font-size: 13px;
                width: 33.33%;
                float: left;
                position: relative;
                font-weight: 400
            }

            #progressbar #step1:before {
                content: "1";
                color: #fff
            }

            #progressbar #step2:before {
                content: "2";
                color: #fff
            }

            #progressbar #step3:before {
                content: "3";
                color: #fff
            }

            #progressbar li:before {
                width: 40px;
                height: 40px;
                line-height: 45px;
                display: block;
                font-size: 20px;
                background: #455A64;
                border-radius: 50%;
                margin: auto;
                padding: 0px
            }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: #455A64;
                position: absolute;
                left: 0;
                top: 21px;
                z-index: -1
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                position: absolute;
                left: -50%
            }

            #progressbar li:nth-child(2):after {
                left: -50%
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                left: 50%
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px
            }

            #progressbar li.active:before,
            #progressbar li.active:after {
                background: #74838a
            }
        .card {
            background-color: #FFFFFF;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 60px 40px 40px 40px;
            z-index: 0;
            display: none
        }

            .card.show {
                display: block
            }

        .form-control-label {
            font-size: 22px !important;
            color: #000;
            letter-spacing: 1px
        }

        ::placeholder {
            color: grey;
            opacity: 1;
            font-weight: 300
        }

        :-ms-input-placeholder {
            color: #000;
            font-weight: 300
        }

        ::-ms-input-placeholder {
            color: #000;
            font-weight: 300
        }

        input,
        textarea,
        button {
            padding: 8px 15px 8px 15px;
            border-radius: 0px !important;
            margin-bottom: 25px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid #ccc;
            font-size: 18px !important;
            font-weight: 300
        }

            input:focus,
            textarea:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border-bottom: 1px solid #9FA8DA;
                outline-width: 0;
                font-weight: 400
            }

            button:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                outline-width: 0
            }


        .fa-long-arrow-right {
            color: #651FFF;
            background-color: #fff;
            padding: 12px;
            margin: 5px;
            border-radius: 50%;
            border: 3px solid #651FFF;
            position: absolute;
            left: -28px;
            top: 12px;
            cursor: pointer
        }

            .fa-long-arrow-right:hover {
                color: #FFF;
                background-color: #B39DDB
            }

        .fa-long-arrow-left {
            position: absolute;
            left: 20px;
            top: 20px;
            color: #fff;
            cursor: pointer
        }

        .check-mark {
            width: 180px;
            height: 180px
        }
    </style>

<div class="text-center">
    <h1 class="display-4">Signup</h1>
</div>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-md-8">
            <ul id="progressbar" class="text-center">
                <li class="active step0" id="step1">Basic Info</li>
                <li class="step0" id="step2">Pet Preferences</li>
            </ul>
            <div class="card b-0 show">
                <div class="row justify-content-left">
                    <div class="col-lg-10 col-md-11">
                        <div class="form-group"> <label class="form-control-label">Email Address</label> <input type="text" id="email" name="email" placeholder="you@gmail.com" class="" onblur="validate1(1)"> </div>
                        <div class="form-group">
                            <label class="form-control-label">Password</label> <input type="text" id="pass" name="pass" placeholder="password" class="" onblur="validate1(2)">
                            <small id="emailHelp" class="form-text text-muted">Must Be at least 8 characters</small>
                        </div>
                        <div class="form-group"> <label class="form-control-label">Personal Info</label> <input type="text" id="Fname" name="Fname" placeholder="First Name" class="" onblur="validate1(3)"> </div>
                        <div class="form-group"> <input type="text" id="Lname" name="Lname" placeholder="Last Name" class="" onblur="validate1(4)"> </div>
                        <div class="form-group"> <input type="tel" id="phone" name="phone" placeholder="Phone Number" class="" onblur="validate1(5)"> </div>
                        <div class="form-group"> <label class="form-control-label">Your Location</label> <input type="text" id="City" name="City" placeholder="City" class="" onblur="validate1(6)"> </div>
                        <div class="form-group"> <input type="text" id="State" name="State" placeholder="State" class="" onblur="validate1(7)"> </div>
                        <div class="form-group"> <input type="text" id="Zipcode" name="Zipcode" placeholder="Zip Code" class="" onblur="validate1(8)"> </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    I am at least 18 years or older
                                </label>
                                <div class="invalid-feedback">
                                    You must 18 years old to adopt a pet through us.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    I agree to the Pet.com Foundation's terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div><input type="button" name="Continue" value="Continue" onclick="validate1(0)"/></div>
                </div>
            </div>
            <div class="card b-0">
                <div class="fa fa-long-arrow-left prev"> </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-11">
                        <div class="form-group"> <label class="form-control-label">What is the website title?</label> <input type="text" id="web-title" name="web-title" placeholder="Enter your website title here ..." class="" onblur="validate2(1)"> </div>
                        <div class="form-group"> <label class="form-control-label">Describe your website</label> <input type="text" id="desc" name="desc" placeholder="Enter description of website here ..." class="" onblur="validate2(2)"> </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="circle">
                        <div class="fa fa-long-arrow-right next" id="next2" onclick="validate2(0)"></div>
                    </div>
                </div>
            </div>
            <div class="card b-0">
                <div class="row d-flex justify-content-center text-center">
                    <div class="confirm">
                        <h4 class="mb-2">Success!</h4>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="check"> <img src="https://i.imgur.com/g6KlBWR.gif" class="check-mark"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validate1(val) {
        v1 = document.getElementById("email");
        v2 = document.getElementById("pass");
        v3 = document.getElementById("Fname");
        v4 = document.getElementById("Lname");
        v5 = document.getElementById("phone");
        v6 = document.getElementById("City");
        v7 = document.getElementById("State");
        v8 = document.getElementById("Zipcode");


            flag1 = true;
            flag2 = true;

            if(val>=1 || val==0) {
                if(v1.value == "") {
                v1.style.borderColor = "red";
                flag1 = false;
                }
                else {
                v1.style.borderColor = "white";
                flag1 = true;
                }
            }

            if(val>=2 || val==0) {
                if(v2.value == "") {
                    v2.style.borderColor = "red";
                    flag2 = false;
                }
                else {
                    v2.style.borderColor = "white";
                    flag2 = true;
                }
            }

            if(val>=2 || val==0) {
                if(v3.value == "") {
                    v3.style.borderColor = "red";
                    flag3 = false;
                }
                else {
                    v3.style.borderColor = "white";
                    flag3 = true;
                }
            }
            if(val>=2 || val==0) {
                if(v4.value == "") {
                    v4.style.borderColor = "red";
                    flag4 = false;
                }
                else {
                    v4.style.borderColor = "white";
                    flag4 = true;
                }
            }

            if(val>=2 || val==0) {
                if(v5.value == "") {
                    v5.style.borderColor = "red";
                    flag2 = false;
                }
                else {
                    v5.style.borderColor = "white";
                    flag5 = true;
                }
            }        
            flag = flag1 && flag2;

            return flag;
    }

    function validate2(val) {
        v1 = document.getElementById("web-title");
        v2 = document.getElementById("desc");

        flag1 = true;
        flag2 = true;

        if(val>=1 || val==0) {
            if(v1.value == "") {
                v1.style.borderColor = "red";
                flag1 = false;
            }
            else {
                v1.style.borderColor = "white";
                flag1 = true;
            }
        }

        if(val>=2 || val==0) {
            if(v2.value == "") {
                v2.style.borderColor = "red";
                flag2 = false;
            }
            else {
                v2.style.borderColor = "white";
                flag2 = true;
            }
        }

        flag = flag1 && flag2;

        return flag;
    }

    $(document).ready(function(){

        var current_fs, next_fs, previous_fs;

        $(".next").click(function(){

            str1 = "next1";
            str2 = "next2";

        if(!str1.localeCompare($(this).attr('id')) && validate1(0) == true) {
        val1 = true;
        }
        else {
        val1 = false;
        }

        if(!str2.localeCompare($(this).attr('id')) && validate2(0) == true) {
        val2 = true;
        }
        else {
        val2 = false;
        }

        if((!str1.localeCompare($(this).attr('id')) && val1 == true) || (!str2.localeCompare($(this).attr('id')) && val2 == true)) {
        current_fs = $(this).parent().parent().parent();
        next_fs = $(this).parent().parent().parent().next();

        $(current_fs).removeClass("show");
        $(next_fs).addClass("show");

        $("#progressbar li").eq($(".card").index(next_fs)).addClass("active");

        current_fs.animate({}, {
        step: function() {

        current_fs.css({
        'display': 'none',
        'position': 'relative'
        });

        next_fs.css({
        'display': 'block'
        });
        }
        });
        }
        });

        $(".prev").click(function(){

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        $(current_fs).removeClass("show");
        $(previous_fs).addClass("show");

        $("#progressbar li").eq($(".card").index(next_fs)).removeClass("active");

        current_fs.animate({}, {
        step: function() {

        current_fs.css({
        'display': 'none',
        'position': 'relative'
        });

        previous_fs.css({
        'display': 'block'
        });
        }
        });
        });

        });
</script>
