@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron section mainHeader">
    <div class="container text-center">
        <h3 style="text-align:center;margin-top:10px;">Main Heading, an attractive guilt-trippy or encouraging headline</h3>
        <a type="button" class="btn btn-primary" asp-area="" asp-controller="Wizard" asp-action="Index">GET STARTED</a>
    </div>
</div>

<div class="section text-center">
    <h3 style="margin-bottom:20px">How it works</h3>
    <div style="width:75%; margin: auto; margin-bottom:75px;">
        Adopting a pet should be easy and stress free both for you and your future pet. We have the best pet
        adoption database, updated daily with support from multiple shelters, with which we've created a
        simple, reliable, effective program to help you find the perfect companion.
    </div>
    <div class="row numberRow">
        <div class="col-4" style="text-align:right;"><h1>1</h1></div>
        <div class="col-8">
            <span style="font-weight:bold;">Create a Profile</span>
            <br /><br />
            Something something about everyone being vetted for online
        </div>
    </div>
    <div class="row numberRow">
        <div class="col-4" style="text-align:right;"><h1>2</h1></div>
        <div class="col-8">
            <span style="font-weight:bold;">Indicate Interest</span>
            <br /><br />
            Something about how you let people know which one you'd like to adopt
        </div>
    </div>
    <div class="row numberRow">
        <div class="col-4" style="text-align:right;"><h1>3</h1></div>
        <div class="col-8">
            <span style="font-weight:bold;">The Face to Face</span>
            <br /><br />
            Something about meeting the dog at the shelter to make a final decision
        </div>
    </div>
</div>

<div class="section" style="border-bottom: solid 1px; width: 90%; margin:auto; margin-bottom:200px;"></div>

<div class="section text-center">
    <h3 style="margin-bottom:200px">You're in good hands</h3>
    <div class="row" style="width:80%; margin:auto;">
        <div class="col-4">
            <span style="font-weight:bold;">Trusted Support</span>
            <br />
            Our dedicated team of pet experts are here to support you throughout the entire process.
        </div>
        <div class="col-4">
            <span style="font-weight:bold;">Safe and Secure</span>
            <br />
            Your personal information will never be shared or shown to the public. Unless you want us to.
        </div>
        <div class="col-4">
            <span style="font-weight:bold;">Something</span>
            <br />
            Something something something something something something something something something.
        </div>
    </div>
</div>

<div class="jumbotron section">
    <div class="container text-center">
        <h3 class="RehomeLabel">Looking for a painless way to rehome your pets?</h3>
        <a type="button" class="btn btn-primary" asp-area="" asp-controller="Wizard" asp-action="Index">YES PLEASE</a>
    </div>
</div>

<div class="section text-center companionJumbo">
    <h3 class="MeetLabel">Ready to meet your next companion?</h3>
    <a type="button" class="btn btn-primary" style="width:300px;" asp-area="" asp-controller="Wizard" asp-action="Index">Sign Me Up!</a>
</div>

<style>
    .jumbotron {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 460px;
        padding-top: 35px;
    }

    .mainHeader {
        margin-top: 60px;
    }

    .companionJumbo {
        /*background-image: url('../images/pexels-photo-406014.jpeg');*/
        background-image: url('../images/puppy-pick.png');
        height: 460px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: -16px !important;
        padding-bottom: 0px !important;
    }

    .headerDiv {
        height: 100%;
    }

    .section {
        margin-bottom: 200px;
        align-items: center;
    }

    .numberRow {
        width: 60%;
        margin: auto;
        text-align: left;
        margin-bottom: 30px;
    }

    .RehomeLabel {
        text-align:center;
        width: 63%;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 110px;
    }

    .MeetLabel {
        text-align: center;
        width:300px;
        margin:auto;
        margin-bottom: 00px !important;
    }
</style>

<script>

</script>
